@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using SAO.Permissions
@*@using SAO.Web.Pages.Productos*@
@using SAO.Web.Pages.ReportViewer
@using SAO.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using SAO.Localization
@inject IHtmlLocalizer<SAOResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    //PageLayout.Content.Title = L["Informes"].Value;
    PageLayout.Content.MenuItemName = SAOMenus.Reportes;
}

@section content_toolbar { }



<div class="container">
    <div class="row">
       
            <abp-card class="bg-light border-1">
                <abp-card-body>
                    <div class="text-center">
                        <img src="~/images/logo/NombreSistema.png" style="max-width: 400px ; align-content:center " >
                    </div>
                <p></p><p></p>
                    <abp-card-title style="align-content:center"><h3>Informes</h3></abp-card-title>
                    <abp-list-group class="text-left">
                        
                    <abp-list-group-item href="/ReportViewer/VisorReporte?ReportPathName=CuotasImportacion.rdl&Title=Cuotas de Importacion" target="_self" ><i class="fa fa-lg fa-print"></i>   Cuotas de Importación</abp-list-group-item>
                    <abp-list-group-item href="/ReportViewer/VisorReporte?ReportPathName=reporte-importaciones-exportaciones.rdl&Title=Informe de Licencias de importación/Exportación de SAO" target="_self"><i class="fa fa-lg fa-print"></i> Informe de Licencias de importación/Exportación de SAO</abp-list-group-item>
                    <abp-list-group-item href="/ReportViewer/VisorReporte?ReportPathName=reporte-importaciones-HFC.rdl&Title=Importaciones anuales de HCF" target="_self"><i class="fa fa-lg fa-print"></i> Importaciones anuales de HCF</abp-list-group-item>
                    <abp-list-group-item href="/ReportViewer/VisorReporte?ReportPathName=reporte-Importaciones-R-22.rdl&Title=Importaciones anuales de HCFC-22" target="_self"><i class="fa fa-lg fa-print"></i> Importaciones anuales de HCFC-22</abp-list-group-item>
                    <abp-list-group-item href="/ReportViewer/VisorReporte?ReportPathName=reporte-asrae.rdl&Title=Importaciones anuales por ASHRAE" target="_self"><i class="fa fa-lg fa-print"></i> Importaciones anuales por ASHRAE</abp-list-group-item>
                        
                    </abp-list-group>
                </abp-card-body>
                <abp-card-footer class="text-mued"></abp-card-footer> 
                    ``  
            </abp-card>
        </div>
  </div>
 


              

