@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SAO.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using SAO.Web.Pages.Almacens
@using SAO.Almacens;
@using System.Globalization
@inject IHtmlLocalizer<SAOResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Almacens/CreateModal" autocomplete="off">
    <abp-modal id="AlmacenCreateModal">
        <abp-modal-header title="@L["NewAlmacen"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="Almacen.NombreAlmacen"  />

            <abp-input asp-for="Almacen.SiglaAlmacen"  />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>