@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SAO.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using SAO.Web.Pages.TipoProductos
@using SAO.TipoProductos;
@using System.Globalization
@inject IHtmlLocalizer<SAOResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/TipoProductos/CreateModal" autocomplete="off">
    <abp-modal id="TipoProductoCreateModal">
        <abp-modal-header title="@L["NewTipoProducto"].Value"></abp-modal-header>

        <abp-modal-body>
                    
            <abp-input asp-for="TipoProducto.DesProducto"  />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>